<head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="author" href="humans.txt" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="School" />
    <meta property="og:type" content="Front Page" />
    <meta property="og:url" content="https://dawwet.github.io" />
    <meta property="og:image" content="http://i.imgur.com/SvwTNIy.jpg" />


    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--
    <script type="text/javascript">

        var disqus_shortname = "kotte-1";
        // var disqus_url = "http://localhost:4000/blogg/";
        var disqus_identifier = "http://localhost:4000/blogg/";
        var disqus_loaded = false;

        function disqus(disqus_url) {

            if (!disqus_loaded)  {
                disqus_loaded = true;

                var e = document.createElement("script");
                e.type = "text/javascript";
                e.async = true;
                e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
                (document.getElementsByTagName("head")[0] ||
                document.getElementsByTagName("body")[0])
                    .appendChild(e);
            }
        }

    </script> -->
</head>
