---
layout: default
comments: true
---

{% for post in site.posts %}
<div class="post">
  <article class="post-content">
    {{ post.content }}
      <div id="disqus_thread-{{ post.id }}"><a href="#" onclick="disqus('{{post.id}}');return false;">Show Comments</a></div>
  </article>

</div>
{% endfor %}
<script>

    function disqus(post_id) {

        var p = document.getElementById("disqus_thread-" +post_id);

        window.disqus_config = function () {
            this.page.url = 'https://dawwet.github.io/blogg';
            this.page.identifier = post_id;
        };
        if (window.DISQUS){
            DISQUS.reset({
                reload: true,
                config: window.disqus_config
            });
            var t = document.getElementById("disqus_thread");
            p.appendChild(t);
            return;
        }

        var d = document, s = d.createElement('script');
        s.src = '//kotte-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        var c = document.createElement("div");
        c.id = 'disqus_thread';
        p.appendChild(c);
        document.body.appendChild(s);

    }

</script>
</div>
